
<div class="card">
  <div class="card-main">
    <img class="card-img" src="{{flag}}" alt="{{name}}">
    <h2 class="card-title">{{name}} </h2>
  </div>
  <div class="card-body">
    <p class="card-text"><b>Capital:&nbsp;&nbsp;</b>{{capital}} </p>
    <p class="card-text"><b>Population:&nbsp;&nbsp;</b>{{population}} </p>
    <div class="card-languages">
      <p class="card-text"><b>Languages:&nbsp;&nbsp;</b></p>
      <ul class="list-group">
        {{#each languages}}
          <li class="list-group-item">  {{name}} </li>
        {{/each}}
      </ul>
    </div>
    
  </div>
</div>